<div class="container-fluid fill-height">
    <div class="row fill-height">
        <div class="col-12 col-sm-4 col-lg-3 col-xl-2">
            <app-user-list [users]="users"></app-user-list>
            <div class="tracks" *ngIf="room">
                <app-add-track [room]="room"></app-add-track>
            </div>
            <app-torrent-progress (onProgress)="onTorrentProgress($event)" [torrent]="torrent" *ngIf="torrent && torrent.state !== 'done'"></app-torrent-progress>
        </div>
        <div class="col-12 col-sm-8 col-lg-9 col-xl-10">
            <app-video-js *ngIf="startVideo" [options]="videoOptions"
                (onPlay)="onPlay($event)" (onPause)="onPause($event)"
                (playerReady)="onPlayerReady()">
            </app-video-js>
        </div>
    </div>
</div>