<div class="video">
    <div class="media-canvas">
        <div class="left-side" [@leftSideState]="leftSideState">
            <h4 [title]="mediaFilename">{{mediaFilename}}</h4>
            <app-user-list [users]="users"></app-user-list>
            <app-add-track [room]="room" *ngIf="room"></app-add-track>
            <app-torrent-progress (onProgress)="onTorrentProgress($event)" [torrent]="torrent" *ngIf="torrent && torrent.state !== 'done'"></app-torrent-progress>
            <button *ngIf="!torrent || torrent.state === 'done'" class="btn btn-outline-success btn-width" (click)="download()">Download</button>
            <button class="btn btn-outline-danger btn-width" (click)="closeLeftSide()">Close</button>
        </div>
        <div class="media">
            <app-video-js *ngIf="startVideo" [options]="videoOptions"
                (onPlay)="onPlay($event)" (onPause)="onPause($event)"
                (playerReady)="onPlayerReady()">
            </app-video-js>
        </div>
    </div>
</div>