.covix {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    .covix-navbar {
        flex: auto;
        padding: 10px;
    }
    .covix-content {
        height: 100%;
        flex: auto;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.pointer {
    cursor: pointer;
}