<div class="card">
    <div class="card-header">Add subtitle</div>
    <div class="card-body">
        <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
        
            <div class="form-group">
                <div class="custom-file">
                    <input #file type="file" class="custom-file-input" id="subtitleFile" (change)="onFileChange($event)" [disabled]="submitting" accept=".vtt">
                    <label class="custom-file-label" for="subtitleFile">Choose subtitle.vtt...</label>
                    <div class="invalid-feedback">No subtitle selected</div>
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid || formGroup.pristine" [disabled]="submitting">Add subtitle</button>
        </form>
    </div>
</div>