<div class="card mb-3">
    <img [src]="icon" class="card-img-top icon-image">
    <div class="card-body">
        <h5 class="card-title">{{movie?.label}}</h5>
        <div class="text-center">
            <button class="btn btn-info" (click)="watch()">Watch</button>
            <div ngbDropdown class="d-inline-block" [autoClose]="'outside'">
                <button class="btn btn-outline-secondary" id="dropdownBasic1"
                    ngbDropdownToggle>Actions</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem (click)="edit()">Edit</button>
                    <button ngbDropdownItem (click)="download()">Download</button>
                    <button class="red" ngbDropdownItem (click)="askDelete()" *ngIf="!sure">Delete</button>
                    <button class="red" ngbDropdownItem (click)="delete()" *ngIf="sure">Are you sure?</button>
                </div>
            </div>
        </div>
    </div>
  </div>